.container {
  min-height: 100vh;
}

.heading {
  margin-bottom: 3rem;
}

.section {
  margin-bottom: 4rem;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px; /* layout */
  }
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .blogGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .blogGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
