.container {
  display: flex;
  min-height: 100svh;
}

.mainContent {
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  padding: 2rem;
  min-height: 100svh;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .mainContent {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
    min-height: auto;
  }
}
