.container {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  margin-left: 20%;
  width: 80%;
  padding: 2rem;
  min-height: 100vh;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .mainContent {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
    margin-top: 80px; /* Space for fixed navbar */
  }
}
